# Environment variables - NEVER commit these
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Database files
*.db
backend/data/

# Vector store
chroma_store/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log


#key 
notebooks/config.py