# Backend
fastapi
uvicorn
pandas
openpyxl
groq
langgraph
langchain-groq
chromadb
fastembed
python-multipart
python-dotenv
plotly
numpy==1.26.4

# Frontend
streamlit
requests

# Notebooks
jupyter
nbformat